.brands-carousel {
  @include links-list;
  padding: 0;
  column-gap: 16px;
  flex-wrap: nowrap;

  &__item {
    box-sizing: border-box;
    width: 224px;
    height: 72px;
    background-color: $block-bg-color;
    border: 1px solid $light-bg-color;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px;
  }

  &__link {
    @include flex-container-sb;
    width: 100%;
    height: 100%;

    &::after {
      display: inline-block;
      background-color: $block-bg-color;
      border: 2px solid $accent-bg-color;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 6L0.707106 2.20711C0.316582 1.81658 0.316582 1.18342 0.707107 0.792893L0.792893 0.707107C1.18342 0.316583 1.81658 0.316583 2.20711 0.707107L6.79289 5.29289C7.18342 5.68342 7.18342 6.31658 6.79289 6.70711L2.20711 11.2929C1.81658 11.6834 1.18342 11.6834 0.792893 11.2929L0.707107 11.2071C0.316583 10.8166 0.316583 10.1834 0.707107 9.79289L4.5 6Z' fill='%23FF3E79'/%3e%3c/svg%3e ");
    }

    &:hover::after {
      background-color: $accent-bg-color;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 6L0.707106 2.20711C0.316582 1.81658 0.316582 1.18342 0.707107 0.792893L0.792893 0.707107C1.18342 0.316583 1.81658 0.316583 2.20711 0.707107L6.79289 5.29289C7.18342 5.68342 7.18342 6.31658 6.79289 6.70711L2.20711 11.2929C1.81658 11.6834 1.18342 11.6834 0.792893 11.2929L0.707107 11.2071C0.316583 10.8166 0.316583 10.1834 0.707107 9.79289L4.5 6Z' fill='white'/%3e%3c/svg%3e ");
    }
  }

  @media screen and (min-width: $screen-md) {
    flex-wrap: wrap;
    column-gap: 24px;
  }

  @media screen and (min-width: $screen-lg) {
    column-gap: 32px;
    flex-wrap: wrap;
  }
}
