.main {
  padding: 24px 16px 34px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-md) {
    padding: 24px 24px 34px;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 8px 32px 34px;
  }

  &__link-carousel {
    margin-bottom: 24px;
  }

  &__heading {
    font-family: $heading-font;
    font-size: $heading-font-size;
    border-left: 4px solid $light-accent-bg-color;
    margin-bottom: 24px;
    margin-left: -12px;
    padding-left: 12px;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 24px;
      margin-left: -20px;
      padding-left: 16px;
    }

    @media screen and (min-width: $screen-lg) {
      margin-bottom: 8px;
      margin-left: -28px;
      padding-left: 30px;
    }
  }
}
