$block-bg-color: white;
$light-accent-bg-color: #41f6d7;
$accent-bg-color: #ff3e79;
$light-bg-color: #eaeaea;
$neutral-bg-color: #a9a9a974;

$main-txt-color: #1b1c21;
$light-txt-color: #7e7e82;

$screen-lg: 1120px;
$screen-md: 768px;
$screen-sm: 320px;

$accent-font: 'TT Lakes Medium';
$heading-font: 'TT Lakes Bold';
$main-font: 'TT Lakes Regular';
$light-font: 'TT Lakes Light';

$link-transition: color 0.1s ease-in-out 0s;

$link-font-size: 16px;
$main-font-size: 14px;
$heading-font-size: 28px;
