.header {
  @include flex-container-sb;
  background: $block-bg-color;
  padding: 24px 16px;
  border-bottom: 1px solid #d9fff5;
  height: 88px;

  &__logo {
    margin-right: 16px;
  }

  &__main-navigation {
    margin-right: 16px;

    &::after {
      margin-right: 16px;
    }
  }

  &__left-group {
    display: flex;
    align-items: center;
  }

  &__divider {
    margin-right: 20px;
  }

  &--hidden {
    @media screen and (min-width: $screen-lg) {
      background-color: transparent;
      border: none;
      margin-bottom: -70px;
      margin-top: 18px;
      position: relative;
      z-index: 90;
    }
  }
}
